header {
  background: lightblue;
  font-size: 1em;
  text-align: center;
  width: 100%;
  margin: 0;
}
body {
  background: khaki;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
/*logo facebook*/
.logo1 {
  right: 30px;
  height: 30px;
  width: 50px;
  margin: 0;
}
/*logo instagram*/
.logo2 {
  right: 100px;
  margin: 0;
  width: 50px;
  height: 30px;
}
/*texte de la page d'accueil*/
p {
  text-align: center;
  display: inline;
}
/*indication sur les photos*/
.etiquette {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
}
/*les photos de la page d'accueil*/
#img1 {
  width: 110px;
  height: 140px;
  display: flex;
  margin-top: 20px;

}
#img2 {
  width: 110px;
  height: 140px;
  margin-top: 20px;
}
#img3 {
  width: 140px;
  height: 110px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
#img4 {
  width: 140px;
  height: 110px;
  display: flex;
  margin-top: 20px;
}
#img5 {
  width: 140px;
  height: 110px;
  display: flex;
  margin-top: 20px;
}
footer {
  background: lightblue;
  width: 100%;
  margin-top: 30px;
}
/*logo copyright*/
.logo3 {
  width: 30px;
  height: 30px;
  background: lightblue;
  margin: 10px;
}
/*pages par categories*/
nav {
  border: 2px solid blue;
  border-radius: 10px 10px;
  color: blue;
  margin-top: -20px;
  text-align: center;
  margin-top: 10px;
}
h1 {
  margin: 0;
}
.center {
  text-align: center;
}
.img6 {
  width: 250px;
  height: 350px;
  border-radius: 10px 10px;
  margin-top: 20px;
}
.img7 {
  width: 250px;
  height: 350px;
  border-radius: 10px 10px;
}
.img8 {
  width: 300px;
  height: 200px;
  border-radius: 10px 10px;
}
.img9 {
  width: 300px;
  height: 200px;
  border-radius: 10px 10px;
  margin-top: 20px;
}
.img10 {
  width: 300px;
  height: 200px;
  border-radius: 10px 10px;
}

.logo3 {
  width: 30px;
  height: 30px;
  background: lightblue;
  margin: 10px;
}
h2 {
  font-size: 1em;
}
.texte1, .texte2, .texte3 {
  padding: 20px;
}

@media screen and (min-width: 480px) {
  /*logo facebook*/
  .logo1 {
    width: 60px;
    height: 40px;
    position: absolute;
    right: 10px;
    top: 0;
    margin-top: 8px;
  }
  /*logo instagram*/
  .logo2 {
    width: 60px;
    height: 40px;
    position: absolute;
    right: 70px;
    top: 0;
    margin-top: 8px;
  }h1 {
    margin: 0;
  }

  /*photos de la page d'accueil*/
  #img1,
  #img2 {
    width: 250px;
    height: 380px;
    margin-top: 10px;
  }
  #img3,
  #img4,
  #img5 {
    width: 400px;
    height: 300px;
  }
  .etiquette {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
  }

  /*pages categories*/
  .img6 {
    width: 360px;
    height: 500px;
    border-radius: 10px 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
  .img7 {
    width: 360px;
    height: 500px;
    border-radius: 10px 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
  .img8 {
    width: 580px;
    height: 350px;
    border-radius: 10px 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
  .img9 {
    width: 580px;
    height: 350px;
    border-radius: 10px 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  
  }
  .img10 {
    width: 560px;
    height: 350px;
    border-radius: 10px 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }

  .section-top {
    display: flex;
    justify-content: left;
    align-items: start;
    margin: 50px;
  }
  .section-middle {
    display: flex;
    margin: 100px;
    flex-direction: row-reverse;
    justify-content: right;
    align-items: end;
    margin-top: 100px;
  }
  .section-bottomn {
    display: flex;
    justify-content: left;
    align-items: start;
    margin: 50px;
    margin-top: 100px;
  }
  .texte1 {
    display: block;
    margin: 100px;
    margin-top: 100px;
    height: 100%;
  }
  .texte2 {
    display: block;
    margin: 100px;
    margin-bottom: 100px;
    width: 500px;
  }
  .texte3 {
    display: block;
    margin-top: 150px;
    margin: 100px;
  }
}
